<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= playlistOwner.username %>'s profile</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1><%= playlistOwner.username %>'s Playlists</h1>
    <h3><%= message %></h3>
    <ul>
      <% playlists.forEach(playlist=>{ %>
      <li>
        <img
          src="<%= playlist.playlistImage %>"
          alt="playlist image"
          width="300"
        />
        <a href="/playlists/<%= playlist._id %>"><%= playlist.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
