<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MusicMood</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <%-
    include("./partials/sign-in-modal.ejs") %> <%-
    include("./partials/sign-up-modal.ejs") %> <%-
    include("./partials/message.ejs") %>

    <div id="headers">
      <h1>Every mood has a melody</h1>
    </div>

    <div id="subnav">
      <a href="/songs">show all</a>
    </div>

    <article class="song">
      <ul class="image-list">
        <% limitedSongs.forEach(song => { %>
        <li>
          <div class="image">
            <img src="<%= song.songImage %>" alt="Song image" />
          </div>
          <div class="name">
            <a href="/songs/<%= song._id %>"><%= song.title %> </a>
          </div>
        </li>
        <% }) %>
      </ul>
    </article>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
