<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= song.title %></title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1><%= song.title %></h1>
    <h2>by <%= song.artist %> · <%= song.album %> · <%= song.releaseYear %></h2>
  </body>
</html>
